USE [master]
GO

IF DB_ID(N'CentroMedico') IS NULL
BEGIN
    CREATE DATABASE [CentroMedico];
END
GO

USE [CentroMedico]
GO
/****** Objeto: Table [dbo].[Citas] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[CitaID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](25) NOT NULL,
	[PacienteID] [int] NOT NULL,
	[MedicoID] [int] NOT NULL,
	[Fecha] [datetime2](0) NOT NULL,
	[Tarifa] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](12) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ConsumoInsumos] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumoInsumos](
	[HistorialID] [int] NOT NULL,
	[InsumoID] [int] NOT NULL,
	[Cantidad] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_ConsumoInsumos] PRIMARY KEY CLUSTERED 
(
	[HistorialID] ASC,
	[InsumoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleReceta] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleReceta](
	[DetalleID] [int] IDENTITY(1,1) NOT NULL,
	[RecetaID] [int] NOT NULL,
	[Medicamento] [nvarchar](100) NOT NULL,
	[Dosis] [nvarchar](100) NOT NULL,
	[Frecuencia] [nvarchar](100) NOT NULL,
	[Duracion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Facturas] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[FacturaID] [int] IDENTITY(1,1) NOT NULL,
	[HistorialID] [int] NOT NULL,
	[Fecha] [datetime2](0) NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
	[Estado] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FacturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Historial] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial](
	[HistorialID] [int] IDENTITY(1,1) NOT NULL,
	[CitaID] [int] NOT NULL,
	[Fecha] [datetime2](0) NOT NULL,
	[Diagnostico] [nvarchar](500) NOT NULL,
	[Observaciones] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[HistorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Insumos] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Insumos](
	[InsumoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Unidad] [nvarchar](20) NOT NULL,
	[Stock] [decimal](12, 2) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InsumoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Medicos] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[MedicoID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](12) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Especialidad] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pacientes] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[PacienteID] [int] IDENTITY(1,1) NOT NULL,
	[Documento] [varchar](12) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Recetas] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recetas](
	[RecetaID] [int] IDENTITY(1,1) NOT NULL,
	[HistorialID] [int] NOT NULL,
	[Fecha] [datetime2](0) NOT NULL,
	[Indicaciones] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecetaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 23/09/2026 20:52:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](40) NOT NULL,
	[Clave] [nvarchar](100) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Citas] ON 

INSERT [dbo].[Citas] ([CitaID], [Codigo], [PacienteID], [MedicoID], [Fecha], [Tarifa], [Estado]) VALUES (1, N'DEMO-CITA-01', 1, 1, CAST(N'2026-09-21T09:00:00.0000000' AS DateTime2), CAST(60.00 AS Decimal(12, 2)), N'CERRADA')
INSERT [dbo].[Citas] ([CitaID], [Codigo], [PacienteID], [MedicoID], [Fecha], [Tarifa], [Estado]) VALUES (2, N'DEMO-CITA-02', 2, 1, CAST(N'2026-09-21T10:00:00.0000000' AS DateTime2), CAST(80.00 AS Decimal(12, 2)), N'PENDIENTE')
INSERT [dbo].[Citas] ([CitaID], [Codigo], [PacienteID], [MedicoID], [Fecha], [Tarifa], [Estado]) VALUES (3, N'CITA-20260922155035', 1, 1, CAST(N'2026-09-23T11:00:00.0000000' AS DateTime2), CAST(70.00 AS Decimal(12, 2)), N'CANCELADA')
SET IDENTITY_INSERT [dbo].[Citas] OFF
GO
INSERT [dbo].[ConsumoInsumos] ([HistorialID], [InsumoID], [Cantidad]) VALUES (1, 1, CAST(1.00 AS Decimal(12, 2)))
INSERT [dbo].[ConsumoInsumos] ([HistorialID], [InsumoID], [Cantidad]) VALUES (4, 4, CAST(1.00 AS Decimal(12, 2)))
INSERT [dbo].[ConsumoInsumos] ([HistorialID], [InsumoID], [Cantidad]) VALUES (4, 5, CAST(2.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[DetalleReceta] ON 

INSERT [dbo].[DetalleReceta] ([DetalleID], [RecetaID], [Medicamento], [Dosis], [Frecuencia], [Duracion]) VALUES (1, 1, N'paracetamol', N'500mg', N'cada 8 horas', N'3 dias')
INSERT [dbo].[DetalleReceta] ([DetalleID], [RecetaID], [Medicamento], [Dosis], [Frecuencia], [Duracion]) VALUES (4, 4, N'Hidrocortisona crema 1%', N'Aplicar una capa fina', N'Cada 12 horas', N'5 días')
SET IDENTITY_INSERT [dbo].[DetalleReceta] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([FacturaID], [HistorialID], [Fecha], [Total], [Estado]) VALUES (1, 1, CAST(N'2026-09-21T12:10:17.0000000' AS DateTime2), CAST(60.00 AS Decimal(12, 2)), N'PENDIENTE')
INSERT [dbo].[Facturas] ([FacturaID], [HistorialID], [Fecha], [Total], [Estado]) VALUES (4, 4, CAST(N'2026-09-23T16:57:42.0000000' AS DateTime2), CAST(100.00 AS Decimal(12, 2)), N'PENDIENTE')
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Historial] ON 

INSERT [dbo].[Historial] ([HistorialID], [CitaID], [Fecha], [Diagnostico], [Observaciones]) VALUES (1, 1, CAST(N'2026-09-21T12:10:17.0000000' AS DateTime2), N'faringitis leve', N'paciente estable')
INSERT [dbo].[Historial] ([HistorialID], [CitaID], [Fecha], [Diagnostico], [Observaciones]) VALUES (4, 5, CAST(N'2026-09-23T16:57:42.0000000' AS DateTime2), N'Dermatitis de contacto leve', N'Paciente presenta irritación localizada sin signos de infección.')
SET IDENTITY_INSERT [dbo].[Historial] OFF
GO
SET IDENTITY_INSERT [dbo].[Insumos] ON 

INSERT [dbo].[Insumos] ([InsumoID], [Nombre], [Unidad], [Stock]) VALUES (1, N'Guantes de prueba', N'par', CAST(99.00 AS Decimal(12, 2)))
INSERT [dbo].[Insumos] ([InsumoID], [Nombre], [Unidad], [Stock]) VALUES (2, N'Gasas de prueba', N'unidad', CAST(50.00 AS Decimal(12, 2)))
INSERT [dbo].[Insumos] ([InsumoID], [Nombre], [Unidad], [Stock]) VALUES (3, N'Insumo agotado - prueba Rollback', N'unidad', CAST(0.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Insumos] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([MedicoID], [Codigo], [Nombre], [Especialidad]) VALUES (1, N'MED-DEMO-01', N'Médico de prueba', N'Medicina general')
INSERT [dbo].[Medicos] ([MedicoID], [Codigo], [Nombre], [Especialidad]) VALUES (2, N'MED-DOC-02', N'Dr. Ana Torres', N'Pediatría y neonatologia')
INSERT [dbo].[Medicos] ([MedicoID], [Codigo], [Nombre], [Especialidad]) VALUES (3, N'MED-GEN-01', N'Dra. Elena Vásquez Rojas', N'Medicina general')
SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([PacienteID], [Documento], [Nombre], [FechaNacimiento], [Telefono]) VALUES (1, N'DEMO0001', N'Paciente de prueba Uno', CAST(N'2000-01-15' AS Date), NULL)
INSERT [dbo].[Pacientes] ([PacienteID], [Documento], [Nombre], [FechaNacimiento], [Telefono]) VALUES (2, N'DEMO0002', N'Paciente de prueba Dos', CAST(N'1995-09-20' AS Date), N'9333333312')
INSERT [dbo].[Pacientes] ([PacienteID], [Documento], [Nombre], [FechaNacimiento], [Telefono]) VALUES (3, N'12345678', N'jhon emerson calua teran', CAST(N'2026-09-08' AS Date), N'987666666')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Recetas] ON 

INSERT [dbo].[Recetas] ([RecetaID], [HistorialID], [Fecha], [Indicaciones]) VALUES (1, 1, CAST(N'2026-09-21T12:10:17.0000000' AS DateTime2), N'reposo hidratacion')
INSERT [dbo].[Recetas] ([RecetaID], [HistorialID], [Fecha], [Indicaciones]) VALUES (4, 4, CAST(N'2026-09-23T16:57:42.0000000' AS DateTime2), N'Evitar el contacto con sustancias irritantes y mantener la zona limpia.')
SET IDENTITY_INSERT [dbo].[Recetas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [NombreUsuario], [Clave], [NombreCompleto], [Rol], [Activo]) VALUES (1, N'admin', N'admin123', N'Administrador del sistema', N'ADMIN', 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [NombreUsuario], [Clave], [NombreCompleto], [Rol], [Activo]) VALUES (2, N'medico', N'med123', N'Médico de prueba', N'MEDICO', 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [NombreUsuario], [Clave], [NombreCompleto], [Rol], [Activo]) VALUES (3, N'recepcion', N'rec123', N'Recepcionista de prueba', N'RECEPCION', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Citas__06370DAC8E308530] Fecha de script: 23/09/2026 20:52:17 ******/
ALTER TABLE [dbo].[Citas] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [IX_Citas_Paciente] Fecha de script: 23/09/2026 20:52:17 ******/
CREATE NONCLUSTERED INDEX [IX_Citas_Paciente] ON [dbo].[Citas]
(
	[PacienteID] ASC,
	[Fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UX_Citas_Medico_Fecha] Fecha de script: 23/09/2026 20:52:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Citas_Medico_Fecha] ON [dbo].[Citas]
(
	[MedicoID] ASC,
	[Fecha] ASC
)
WHERE ([Estado]<>'CANCELADA')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Facturas__975206EE2E59B8C4] Fecha de script: 23/09/2026 20:52:17 ******/
ALTER TABLE [dbo].[Facturas] ADD UNIQUE NONCLUSTERED 
(
	[HistorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Historia__F0E2D9F328DACDFC] Fecha de script: 23/09/2026 20:52:17 ******/
ALTER TABLE [dbo].[Historial] ADD UNIQUE NONCLUSTERED 
(
	[CitaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Insumos__75E3EFCF40AE1E40] Fecha de script: 23/09/2026 20:52:17 ******/
ALTER TABLE [dbo].[Insumos] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Medicos__06370DACF032AAD3] Fecha de script: 23/09/2026 20:52:17 ******/
ALTER TABLE [dbo].[Medicos] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Paciente__AF73706D5C6EE613] Fecha de script: 23/09/2026 20:52:17 ******/
ALTER TABLE [dbo].[Pacientes] ADD UNIQUE NONCLUSTERED 
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Recetas__975206EE53AD3C40] Fecha de script: 23/09/2026 20:52:17 ******/
ALTER TABLE [dbo].[Recetas] ADD UNIQUE NONCLUSTERED 
(
	[HistorialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuarios__6B0F5AE0933632E2] Fecha de script: 23/09/2026 20:52:17 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (sysdatetime()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('PENDIENTE') FOR [Estado]
GO
ALTER TABLE [dbo].[Historial] ADD  DEFAULT (sysdatetime()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Recetas] ADD  DEFAULT (sysdatetime()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([MedicoID])
REFERENCES [dbo].[Medicos] ([MedicoID])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[Pacientes] ([PacienteID])
GO
ALTER TABLE [dbo].[ConsumoInsumos]  WITH CHECK ADD FOREIGN KEY([HistorialID])
REFERENCES [dbo].[Historial] ([HistorialID])
GO
ALTER TABLE [dbo].[ConsumoInsumos]  WITH CHECK ADD FOREIGN KEY([InsumoID])
REFERENCES [dbo].[Insumos] ([InsumoID])
GO
ALTER TABLE [dbo].[DetalleReceta]  WITH CHECK ADD FOREIGN KEY([RecetaID])
REFERENCES [dbo].[Recetas] ([RecetaID])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([HistorialID])
REFERENCES [dbo].[Historial] ([HistorialID])
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD FOREIGN KEY([CitaID])
REFERENCES [dbo].[Citas] ([CitaID])
GO
ALTER TABLE [dbo].[Recetas]  WITH CHECK ADD FOREIGN KEY([HistorialID])
REFERENCES [dbo].[Historial] ([HistorialID])
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD CHECK  (([Estado]='CANCELADA' OR [Estado]='CERRADA' OR [Estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD CHECK  (([Tarifa]>(0)))
GO
ALTER TABLE [dbo].[ConsumoInsumos]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD CHECK  (([Estado]='ANULADA' OR [Estado]='PAGADA' OR [Estado]='PENDIENTE'))
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD CHECK  (([Total]>(0)))
GO
ALTER TABLE [dbo].[Historial]  WITH CHECK ADD CHECK  ((len(ltrim(rtrim([Diagnostico])))>(0)))
GO
ALTER TABLE [dbo].[Insumos]  WITH CHECK ADD CHECK  (([Stock]>=(0)))
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Rol] CHECK  (([Rol]='RECEPCION' OR [Rol]='MEDICO' OR [Rol]='ADMIN'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Rol]
GO
/****** Objeto: StoredProcedure [dbo].[sp_ActualizarMedico] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarMedico]
    @MedicoID int,
    @Codigo varchar(12),
    @Nombre nvarchar(100),
    @Especialidad nvarchar(80)
AS
BEGIN
    SET NOCOUNT ON;

    IF @MedicoID <= 0
        THROW 51034, 'Seleccione un médico válido.', 1;

    SET @Codigo = LTRIM(RTRIM(@Codigo));
    SET @Nombre = LTRIM(RTRIM(@Nombre));
    SET @Especialidad = LTRIM(RTRIM(@Especialidad));

    IF NULLIF(@Codigo, '') IS NULL
        THROW 51035, 'El código del médico es obligatorio.', 1;

    IF NULLIF(@Nombre, '') IS NULL
        THROW 51036, 'El nombre del médico es obligatorio.', 1;

    IF NULLIF(@Especialidad, '') IS NULL
        THROW 51037, 'La especialidad es obligatoria.', 1;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Medicos
        WHERE MedicoID = @MedicoID
    )
        THROW 51038, 'El médico seleccionado no existe.', 1;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Medicos
        WHERE Codigo = @Codigo
          AND MedicoID <> @MedicoID
    )
        THROW 51039, 'Ya existe otro médico con ese código.', 1;

    UPDATE dbo.Medicos
    SET Codigo = @Codigo,
        Nombre = @Nombre,
        Especialidad = @Especialidad
    WHERE MedicoID = @MedicoID;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ActualizarPaciente] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ActualizarPaciente]
    @PacienteID INT,
    @Documento VARCHAR(12),
    @Nombre NVARCHAR(100),
    @FechaNacimiento DATE,
    @Telefono NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @Documento = LTRIM(RTRIM(@Documento));
    SET @Nombre = LTRIM(RTRIM(@Nombre));
    SET @Telefono = NULLIF(LTRIM(RTRIM(@Telefono)), N'');

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Pacientes
        WHERE PacienteID = @PacienteID
    )
        THROW 51024, 'El paciente seleccionado no existe.', 1;

    IF @Documento = ''
        THROW 51020, 'Ingrese el documento del paciente.', 1;

    IF @Nombre = N''
        THROW 51021, 'Ingrese el nombre del paciente.', 1;

    IF @FechaNacimiento > CONVERT(DATE, GETDATE())
        THROW 51022, 'La fecha de nacimiento no puede ser futura.', 1;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Pacientes
        WHERE Documento = @Documento
          AND PacienteID <> @PacienteID
    )
        THROW 51023, 'Ya existe otro paciente con ese documento.', 1;

    UPDATE dbo.Pacientes
    SET Documento = @Documento,
        Nombre = @Nombre,
        FechaNacimiento = @FechaNacimiento,
        Telefono = @Telefono
    WHERE PacienteID = @PacienteID;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_CancelarCita] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CancelarCita]
    @CitaID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Citas
    SET Estado = 'CANCELADA'
    WHERE CitaID = @CitaID
      AND Estado = 'PENDIENTE';

    IF @@ROWCOUNT = 0
        THROW 51011, 'La cita no existe o ya no está pendiente.', 1;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarCitas] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ListarCitas]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT C.CitaID,
           C.Codigo,
           C.Fecha,
           C.Tarifa,
           C.Estado,
           C.RowVersion,
           P.PacienteID,
           P.Documento,
           P.Nombre AS Paciente,
           M.MedicoID,
           M.Codigo AS CodigoMedico,
           M.Nombre AS Medico,
           M.Especialidad
    FROM dbo.Citas C
    INNER JOIN dbo.Pacientes P
        ON P.PacienteID = C.PacienteID
    INNER JOIN dbo.Medicos M
        ON M.MedicoID = C.MedicoID
    ORDER BY C.Fecha DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarMedicos] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ListarMedicos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT MedicoID,
           Codigo,
           Nombre,
           Especialidad
    FROM dbo.Medicos
    ORDER BY Nombre;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarPacientes] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ListarPacientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT PacienteID,
           Documento,
           Nombre,
           FechaNacimiento,
           Telefono
    FROM dbo.Pacientes
    ORDER BY Nombre;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarCita] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RegistrarCita]
    @Codigo VARCHAR(25),
    @PacienteID INT,
    @MedicoID INT,
    @Fecha DATETIME2(0),
    @Tarifa DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;

    IF LEN(LTRIM(RTRIM(@Codigo))) = 0
        THROW 51001, 'Ingrese el código de la cita.', 1;

    IF @Tarifa <= 0
        THROW 51002, 'La tarifa debe ser mayor que cero.', 1;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Pacientes
        WHERE PacienteID = @PacienteID
    )
        THROW 51003, 'El paciente no existe.', 1;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Medicos
        WHERE MedicoID = @MedicoID
    )
        THROW 51004, 'El médico no existe.', 1;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Citas
        WHERE Codigo = @Codigo
    )
        THROW 51005, 'El código de la cita ya existe.', 1;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Citas
        WHERE MedicoID = @MedicoID
          AND Fecha = @Fecha
          AND Estado <> 'CANCELADA'
    )
        THROW 51006, 'El médico ya tiene una cita en esa fecha y hora.', 1;

    INSERT INTO dbo.Citas
    (
        Codigo,
        PacienteID,
        MedicoID,
        Fecha,
        Tarifa,
        Estado
    )
    VALUES
    (
        @Codigo,
        @PacienteID,
        @MedicoID,
        @Fecha,
        @Tarifa,
        'PENDIENTE'
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS CitaID;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarMedico] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RegistrarMedico]
    @Codigo varchar(12),
    @Nombre nvarchar(100),
    @Especialidad nvarchar(80)
AS
BEGIN
    SET NOCOUNT ON;

    SET @Codigo = LTRIM(RTRIM(@Codigo));
    SET @Nombre = LTRIM(RTRIM(@Nombre));
    SET @Especialidad = LTRIM(RTRIM(@Especialidad));

    IF NULLIF(@Codigo, '') IS NULL
        THROW 51030, 'El código del médico es obligatorio.', 1;

    IF NULLIF(@Nombre, '') IS NULL
        THROW 51031, 'El nombre del médico es obligatorio.', 1;

    IF NULLIF(@Especialidad, '') IS NULL
        THROW 51032, 'La especialidad es obligatoria.', 1;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Medicos
        WHERE Codigo = @Codigo
    )
        THROW 51033, 'Ya existe un médico con ese código.', 1;

    INSERT INTO dbo.Medicos
    (
        Codigo,
        Nombre,
        Especialidad
    )
    VALUES
    (
        @Codigo,
        @Nombre,
        @Especialidad
    );

    SELECT CAST(SCOPE_IDENTITY() AS int) AS MedicoID;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_RegistrarPaciente] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RegistrarPaciente]
    @Documento VARCHAR(12),
    @Nombre NVARCHAR(100),
    @FechaNacimiento DATE,
    @Telefono NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @Documento = LTRIM(RTRIM(@Documento));
    SET @Nombre = LTRIM(RTRIM(@Nombre));
    SET @Telefono = NULLIF(LTRIM(RTRIM(@Telefono)), N'');

    IF @Documento = ''
        THROW 51020, 'Ingrese el documento del paciente.', 1;

    IF @Nombre = N''
        THROW 51021, 'Ingrese el nombre del paciente.', 1;

    IF @FechaNacimiento > CONVERT(DATE, GETDATE())
        THROW 51022, 'La fecha de nacimiento no puede ser futura.', 1;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Pacientes
        WHERE Documento = @Documento
    )
        THROW 51023, 'Ya existe un paciente con ese documento.', 1;

    INSERT INTO dbo.Pacientes
    (
        Documento,
        Nombre,
        FechaNacimiento,
        Telefono
    )
    VALUES
    (
        @Documento,
        @Nombre,
        @FechaNacimiento,
        @Telefono
    );

    SELECT CONVERT(INT, SCOPE_IDENTITY()) AS PacienteID;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ReprogramarCita] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ReprogramarCita]
    @CitaID INT,
    @MedicoID INT,
    @Fecha DATETIME2(0),
    @Tarifa DECIMAL(12,2)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Citas
        WHERE CitaID = @CitaID
          AND Estado = 'PENDIENTE'
    )
        THROW 51007, 'La cita no existe o ya no está pendiente.', 1;

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Medicos
        WHERE MedicoID = @MedicoID
    )
        THROW 51008, 'El médico no existe.', 1;

    IF @Tarifa <= 0
        THROW 51009, 'La tarifa debe ser mayor que cero.', 1;

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Citas
        WHERE MedicoID = @MedicoID
          AND Fecha = @Fecha
          AND Estado <> 'CANCELADA'
          AND CitaID <> @CitaID
    )
        THROW 51010, 'El médico ya tiene una cita en esa fecha y hora.', 1;

    UPDATE dbo.Citas
    SET MedicoID = @MedicoID,
        Fecha = @Fecha,
        Tarifa = @Tarifa
    WHERE CitaID = @CitaID;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ValidarUsuario] Fecha de script: 23/09/2026 20:52:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ValidarUsuario]
    @NombreUsuario NVARCHAR(40),
    @Clave NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        UsuarioID,
        NombreUsuario,
        NombreCompleto,
        Rol,
        Activo
    FROM dbo.Usuarios
    WHERE NombreUsuario = @NombreUsuario
      AND Clave = @Clave
      AND Activo = 1;
END;
GO
USE [master]
GO
