<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CentroMedico.UI.Properties.Settings.CentroMedico"
         connectionString="Data Source=DESKTOP-8BDRFGC\LEGIONSQL;Initial Catalog=CentroMedico;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
